<ion-header>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="height: 20%; display: flex; align-items: center; justify-content: center;">
    <img src="assets/nombre_app.png" width="100%" height="600" >
  </div>

  <div style="height: 30%; display: flex; align-items: center; justify-content: center;">
    <app-select [disabled]="botonAcceso" (userSelected)="userSelected($event)"></app-select>
  </div>

  <div style="height: 35%; display: flex; align-items: center; justify-content: center;">

    <ion-card class="card-contain">
      <ion-card-header>
        <ion-card-title>Ingrese sus datos</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form class="form" [formGroup]="loginForm" (ngSubmit)="submit()">
          <ion-item>
            <ion-label position="floating">Correo Electrónico</ion-label>
            <ion-input formControlName="correo" name="correo" type="text" [(ngModel)]="user"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.correo">
            <ng-container *ngIf="correo.hasError(error.type) && (correo.dirty || correo.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div><br>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="clave" name="clave" type="password" [(ngModel)]="pass"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.clave">
            <ng-container *ngIf="clave.hasError(error.type) && (clave.dirty || clave.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div><br>
        </form>
      </ion-card-content>
      <ion-button [disabled]="!loginForm.valid" color="Warning" expand="block" (click)="login()" expand="full" fill="outline">
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        Ingresar
      </ion-button>
      <ion-button  color="secondary" expand="full" fill="outline" (click)="accesoRapido()" *ngIf="botonAcceso">
        <ion-icon name="finger-print-outline" slot="end"></ion-icon>Acceso Rápido
      </ion-button>
      <ion-button  color="danger" expand="block" (click)="accesoRapido()" *ngIf="!botonAcceso">
        <ion-icon name="close-outline" slot="end"></ion-icon>Cancelar 
      </ion-button>
    </ion-card>


  </div>

</ion-content>