<ion-header>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="height: 60%; display: flex; align-items: center; justify-content: center;">

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Carga QR</ion-card-subtitle>
        <ion-card-title>Ingrese sus datos</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-label position="fixed">Usuario</ion-label>
          <ion-input type="text" [(ngModel)]="user"></ion-input>
        </ion-item><br>
        
        <ion-item>
          <ion-label position="fixed">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="pass"></ion-input>
        </ion-item><br>
      
      </ion-card-content>
      <ion-button color="Warning" expand="block" (click)="login()" expand="full" fill="outline">
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        Ingresar</ion-button>
    </ion-card>


  </div>

</ion-content>
