<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="font-family: Arial, Helvetica, sans-serif;" defaultHref="/" text="Volver"
        color="primary" mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title  class="tituloHeader" style="margin-left: 25%;">
      Principal
    </ion-title>
    <ion-icon class="ionIcon" src="./assets/sign-out-alt-solid.svg" 
    slot="end" style="margin-right: 5%;" (click)="salir()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [style.--background]="scanActive ? '#ffffff00' : style">
  <ion-spinner name="lines" *ngIf="mostrar" class="unSpinner"></ion-spinner>
  <ion-card class="card" style=" height: 60%; ">
    <ion-card-content [hidden]="scanActive">
      <h1>Crédito actual:</h1>
      <h1 class="credit">${{creditoActual}}</h1>
      <h3>Escanee un código para agregar saldo a su cuenta</h3>
    </ion-card-content>
  </ion-card>

  <button class="btnGigante colorTerciario" (click)="cargarCredito()" [hidden]="scanActive">Cargar Crédito</button>
  <button class="btnSemiGigante colorTerciario" (click)="borrarCredito()" [hidden]="scanActive">Borrar Crédito</button>

</ion-content>